mixin attached-stories (img, name)
    .user-attached-stories__item
        a.user-attached-stories__link(
            href="#"
        )
            img.user-attached-stories__img(
                src=img
            )
        h3.user-attached-stories__title=name